<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjectVCare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>edu.neu.vcare.servlets.SigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewBlogDetails</servlet-name>
    <servlet-class>edu.neu.vcare.servlets.ViewBlogDetails</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ViewInitiative</servlet-name>
    <servlet-class>edu.neu.vcare.servlets.ViewInitiative</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBlogDetails</servlet-name>
    <url-pattern>/ViewBlogDetails.do/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/sigin.do/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ViewInitiative</servlet-name>
    <url-pattern>/ViewInitiative.do/*</url-pattern>
  </servlet-mapping>
</web-app>